.homepage{
    text-shadow: 0.5px 0.5px 0.5px rgba(42, 42, 104, 0.687);
    color: rgb(236, 236, 239);
    height: 0vh;
    left: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vh;
}

p{
    font-size:large;
}

.lgsu{
    opacity: 80%;
    filter: saturate(70%);
    margin: 1rem;

}

.lgsu:hover{
    opacity: 100%;
    filter: saturate(1);

}
