/* .oneCard {
    display: inline;
    width: fit-content;
      height: fit-content;
      margin: 1rem;
      padding: 0.5rem;
    display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 20px;
  margin-bottom: 5px;
  height: 280px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardText {

        width: 12rem;
        height: 20rem;
        margin: 1rem;
        padding: 0.5rem;

} */

.oneCard{
    background-color: rgba(36, 28, 9, 0.33);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 20rem;
}

.image{
    height: 10rem;
    width: auto;
}