.oneCard{
    width: 14rem;
    height: 14rem;
    margin: 1rem;
    padding: 0.5rem;
    background-color: rgba(36, 28, 9, 0.33);
}

.link{
    text-decoration:none;
    color:rgb(245, 212, 175);
}

.image{
    height: auto;
    max-width: 10rem;
    align-items: center;
}
