
.details{

    background-color: rgba(3, 8, 9, 0.33);
    color: rgba(216, 210, 210, 0.814);
}

.details:hover{
    color: rgba(255, 255, 255, 0.814);
}

.cardTitle{
    color: rgba(241, 228, 214, 0.685);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-style:italic;
}

.card-subtitle{
    color: rgba(229, 226, 222, 0.959);
    text-align: center;
    padding-bottom: 10px;
    font-size: 3rem;
}

.card-subtitle:hover{
    color: rgb(251, 249, 247);
}

.cardFrame{
    max-width: 100vh;
    max-height: 100vh;
    margin: 0.5rem;
    padding: 2rem;
    align-items: center;
    background-color: rgba(36, 28, 9, 0.33);
    overflow: hidden;
}

.image{
    max-height: 50vh;
    width: auto;
    margin-bottom: 1rem;
}

/* button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width:200px;
} */