.oneCard{
    width: 16rem;
    height: 14rem;
    margin: 1rem;
    padding: 0.5rem;
    background-color: rgba(36, 28, 9, 0.33);
}
/* https://getcssscan.com/css-box-shadow-examples */
.oneCard:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-decoration: none;
}


.link{
    color:rgba(255, 255, 255, 0.531);
}




.image{
    height: auto;
    max-width: 10rem;
    align-items: center;
}
