
.details{

    background-color: rgba(3, 8, 9, 0.33);
    color: white;
}


.cardTitle{
    color: white;
    text-align: center;
    padding: 2rem;
}

.subtitle{
    color: white;
    text-align: center;
    padding-bottom: 10px;

}

.cardFrame{
    max-width: 100vh;
    max-height: 100vh;
    margin-top: 2rem;
    padding: 2rem;
    align-items: center;
    background-color: rgba(36, 28, 9, 0.33);
    overflow: hidden;
}

.image{
    max-height: 50vh;
    max-width: auto;
    margin-bottom: 1rem;
}

button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width:200px;
}